[user]
	name = nepia0318
	email = 49799401+nepia0318@users.noreply.github.com
[pull]
	rebase = false
[core]
	editor = nvim
[credential]
	helper = /mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager.exe
