[user]
	name = nepia0318
	email = 49799401+nepia0318@users.noreply.github.com
[pull]
	rebase = false
[core]
	editor = nvim
[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta
[delta]
    plus-style = "syntax #012800"
    minus-style = "syntax #340001"
    syntax-theme = Monokai Extended
    navigate = true
    line-numbers = true
[interactive]
    diffFilter = delta --color-only
[credential]
	helper = /mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager.exe
